@font-face {
    font-family: 'Monaco';
    font-style: normal;
    font-weight: normal;
    src: local('Monaco'), url('Monaco.woff') format('woff');
}

p.caption {
    color: #777;
    margin-top: 10px;
}
p code {
    white-space: inherit;
    font-family: Monaco !important;
}
pre {
    word-break: normal;
    word-wrap: normal;
    font-family: Monaco !important;
}
pre code {
    white-space: inherit;
    font-family: Monaco !important;
}
